In [60]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import seaborn as sns
import scipy
import json

In [61]:
cols = ['date','amount','type','category']
t = pd.DataFrame([], columns=cols)
t

Empty DataFrame
Columns: [date, amount, type, category]
Index: []

In [62]:
# user spends more than earns
income = 2000
debit = 1600
cc_payment = 100
credit = 200

In [63]:
apr = 0.15
sbal = 1000
bal = sbal

In [64]:
from datetime import date
from dateutil.relativedelta import relativedelta

start = date(2020,1,1)
spend = debit + credit
print("CC payment, interest, CC balance")
for i in range(12):
    rng = np.random.default_rng()
    debits = rng.integers(low=(debit*0.85), high=(debit*1.15), size=1)[0]
    credits = rng.integers(low=(credit*0.85), high=(credit*1.15), size=1)[0]
    interest = bal * 0.15 / 12
    bal -= cc_payment
    bal += interest
    bal += credits
    month = start.strftime('%Y-%m-%d')
    t = t.append(
        pd.DataFrame(
            [
                [month, income*-1, 'credit', 'paycheck'],
                [month, debits, 'debit', 'debit_card'],
                [month, cc_payment, 'debit', 'cc_payment'],
                [month, credits, 'debit', 'credit_card']
            ], columns=cols
        )
    )
    print(cc_payment, interest, bal)
    start = start + relativedelta(months=+1)
t

CC payment, interest, CC balance
100 12.5 1095.5
100 13.69375 1210.19375
100 15.127421874999998 1317.321171875
100 16.4665146484375 1453.7876865234373
100 18.172346081542965 1586.9600326049801
100 19.83700040756225 1708.7970330125424
100 21.35996291265678 1857.1569959251992
100 23.214462449064992 1993.3714583742642
100 24.917143229678302 2136.2886016039424
100 26.703607520049278 2280.992209123992
100 28.5124026140499 2390.5046117380416
100 29.881307646725517 2506.385919384767

         date amount    type     category
0  2020-01-01  -2000  credit     paycheck
1  2020-01-01   1492   debit   debit_card
2  2020-01-01    100   debit   cc_payment
3  2020-01-01    183   debit  credit_card
0  2020-02-01  -2000  credit     paycheck
1  2020-02-01   1425   debit   debit_card
2  2020-02-01    100   debit   cc_payment
3  2020-02-01    201   debit  credit_card
0  2020-03-01  -2000  credit     paycheck
1  2020-03-01   1799   debit   debit_card
2  2020-03-01    100   debit   cc_payment
3  2020-03-01    192   debit  credit_card
0  2020-04-01  -2000  credit     paycheck
1  2020-04-01   1620   debit   debit_card
2  2020-04-01    100   debit   cc_payment
3  2020-04-01    220   debit  credit_card
0  2020-05-01  -2000  credit     paycheck
1  2020-05-01   1657   debit   debit_card
2  2020-05-01    100   debit   cc_payment
3  2020-05-01    215   debit  credit_card
0  2020-06-01  -2000  credit     paycheck
1  2020-06-01   1638   debit   debit_card
2  2020-06-01    100   debit   cc_payment
3  2020-06-01    202   debit  credit_card
0  2020-07-01  -2000  credit     paycheck
1  2020-07-01   1379   debit   debit_card
2  2020-07-01    100   debit   cc_payment
3  2020-07-01    227   debit  credit_card
0  2020-08-01  -2000  credit     paycheck
1  2020-08-01   1745   debit   debit_card
2  2020-08-01    100   debit   cc_payment
3  2020-08-01    213   debit  credit_card
0  2020-09-01  -2000  credit     paycheck
1  2020-09-01   1537   debit   debit_card
2  2020-09-01    100   debit   cc_payment
3  2020-09-01    218   debit  credit_card
0  2020-10-01  -2000  credit     paycheck
1  2020-10-01   1771   debit   debit_card
2  2020-10-01    100   debit   cc_payment
3  2020-10-01    218   debit  credit_card
0  2020-11-01  -2000  credit     paycheck
1  2020-11-01   1442   debit   debit_card
2  2020-11-01    100   debit   cc_payment
3  2020-11-01    181   debit  credit_card
0  2020-12-01  -2000  credit     paycheck
1  2020-12-01   1692   debit   debit_card
2  2020-12-01    100   debit   cc_payment
3  2020-12-01    186   debit  credit_card